body {
    padding: 0;
    margin: 0;
    text-align: center;
}
#container {
    color: #333;
    width: 60%;
    margin: auto;
    padding: 2% 0 10% 0;
}
header {
    font-size: 1.2em;
}
.ui-widget-header a {
    font-size: .8em;
    text-decoration: none;
    color: #f58400;
}
header h1 {
    margin: 0;
    padding: 1% 0 0 0;
}
div.field {
    margin: 5% 0;
}

#data label, #datan label {
    display: block;
    font-weight: bold;
    margin: 1% 0;
}

input[type=text],input[type=number] {
    padding: 2%;
    font-size: 1.2em;
    border: 1px solid #555;
    color: #555;
    text-align: center;
}

#datan label input[type=text] {
    border: 0;
    padding: 0 0 0 1%;
    font-size: 1em;
    text-align: left;
}

#type, #vocation, #data, #calc, #member {
    display: none
}

.ui-widget {
    font-size: 1.4em;
}

.ui-widget .ui-widget {
    font-size: 1.4em;
}

.dialog {
    display: none;
    text-align: left;
}
.dialog p {
    margin: 0
}

.ui-widget-content a {
    color: #f58400;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}