/*
* Fontes
*
*/

@font-face {
    font-family: ShadowsIntoLight;
    src: url('/assets/fonts/ShadowsIntoLight-Regular.ttf');
}



@font-face {
  font-family: Handlee-Regular;
  src: url('/assets/fonts/Handlee-Regular.ttf');
}





*{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #ffff;
}



body{
    width: 1366px;
    margin: 0 auto;    
    background-color: #23272a;
    color: #ffff;
    font-family: ShadowsIntoLight;
}

header h1{
    font-size: 30pt;
    text-align: center;
    margin-left: 125px;
}



header h1::after {
    content: "By Guild Brisa";
    position: relative;
    font-size: 15pt;
    top: 29px;
    right: 119px;
  }

  figcaption{
    display: none;
  }

  figure{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 3%;
  }
  
  img{
      width: 70%;
  }

  .arrow{
      width: 10%;
  }

  .datainput{
    
    display: flex;
    flex-direction: column;
  }

  .wheretoinsert{
      text-align: center;
      font-size: 40pt;
  }

  .wheretoinsert::after{
    content: "";
    background-image: url(/src/images/fancy-arrow-png-9.png);
    display: inline-block;
    width: 106px;
    height: 100px;
    background-size: 130px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 55px 0 0 -68px;

  }

  form{
    text-align: center;
  }

  .datainput{
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
  }

  textarea{
    padding: 5px;
    box-shadow: 10px 7px 30px rgba(0,0,0,.1);
    color: white;
    background-color: #5b666d;
    width: 100%;
  }

  #btn-calculator{
      padding: 5px;
      margin: 0 auto;
      margin-top: 15px;
      width: 50%;
      background-color: #4e5d8b;
      font-family: ShadowsIntoLight;
      font-size: 24pt;
      color: white;
     
  }

  #btn-calculator:hover{
    font-weight: bolder;
    cursor: pointer;
  }
  
  ::placeholder { 
    color: white;
    opacity: 1; 
    font-family: ShadowsIntoLight;
    font-size: 18pt;
  }

  footer{
      margin-top: 40px;
      text-align: center;
  }
  .footerimage{
    text-align: center;
  }
  .footerimage img{

    width: 30%;
    
  }

  p{
      font-size: 18pt;
  }



  .error{
    border: 1px solid red;
    animation: nono 300ms;
	  animation-iteration-count: 2;
  }

  @keyframes nono{
    0%{
        transform: translateX(0);
    }
    35%{
        transform: translateX(-15%);
    }
    70%{
        transform: translateX(15%);
    }
    100%{
        transform: translateX(0);
    }
}

.calculator-result{
  font-family: Handlee-Regular;
  font-size: 16pt;
  text-align: center;
  margin-top: 40px;
}

.topdata{
  display: flex;
  justify-content: space-around;
}

.profit{
  color: rgb(30, 156, 30);
  
  
}
.waste{
  color: red;
  
  
}

.whoandhowmuch{
  margin-bottom: 5px;
}
.howmuch-to-pay{
  color: #ca7474;
  
}

.payer{
  font-weight: bold;
}

.receiver{
  font-weight: bold;
}
.copyToClipboard, .copyAll{
  padding: 4px;
  margin-left: 5px;
  cursor: pointer;
  font-family: Handlee-Regular;
  font-size: 12pt;
  font-weight: bold;

}

.copyToClipboard:hover, .copyAll:hover {

  animation: nono 300ms;
	animation-iteration-count: 1;

}

