<h1>
    Guild Brisa
    <a target="blank" href="https://www.tibia.com/community/?subtopic=guilds&page=view&GuildName=Brisa&character=Rods+Rufo&action=characters">Tibia</a>
</h1>
<h4>Manifesto Brisado</h4>

<p>A Guild Brisa é focada em cooperação desde a líder ao membro mais recente. Temos foco em bosses e quests, seguindo o princípio de divisão tanto de prejuízo como lucro. “Aqui, RESPEITO É MATO”.</p>

<p>O objetivo deste Manifesto é orientar todos os membros sobre 3 princípios básicos:</p>

<h4>💙 1) Respeito </h4>

<p>Nos espaços de convivência desta guild - team speak, grupos de whatsapp, chat da guild - preza-se o respeito as diferenças. Neste sentido, não serão toleradas ofensas ou qualquer tipo de desrespeito a questões que envolvem orientação sexual, gênero, religião e etnia. Podemos conversar sobre estes assuntos livremente, no entanto, recomenda-se evitar piadas que possam causar constrangimento.</p>

<h4>💰 2) Divisão de lucro/prejuízo em boss hunt </h4>

<p>Buscamos o equilíbrio de gastos e ganhos nos times de bosses, tal como costumamos fazer nas hunts regulares. Neste sentido, recomenda-se que os balances dos membros participantes das boss hunts sejam igualados, independente se tais balances estão negativos ou positivos no party hunt, incluíndo o valor das blesses ao gasto (162k) caso algum player morra durante a execução do boss.</p>

<p>Esta divisão não deve ser entendida como uma obrigação. Os times podem realizar a divisão de prejuízo/lucro de outra forma desde que todos os integrantes do time estejam previamente de acordo. </p>

<p>Entretanto, a proposta da Brisa é cooperação e fortalecimento do coletivo da Guild. Nesse sentido, este princípio é uma conduta padrão recomendada, sem a necessidade de combinar previamente. </p>

<h4>Envio de Print:</h4>

<p>Para que ganhos/gastos possam ser calculados igualmente, como explicado, solicitaremos print ou foto da tela do jogo nas boss hunts por padrão. A print deverá conter 3 elementos: (1) ABA LOOT contendo a mensagem do drop de cada boss; (2) LOOT ANALYSER mostrando o loot que foi pego para balance correto no party hunt; (3) e SUPPLY ANALIZER mostrando o supply gasto para mesmo efeito do elemento anterior.</p>

<p>Se o time não quiser enviar print ou foto, deve ser acordado com os integrantes previamente. </p>

<p>Caso ocorra algum problema em relação a este princípio, todo o time envolvido na boss hunt deve se reunir para discutir caso a caso o que deve ser feito.</p>

<h4>💡3) Novos membros</h4>

<p>Qualquer pessoa pode indicar um novo membro para a guild. Após apply ou indicação, a entrada player deve ser submetida ao voto de todos os membros da Guild. </p>

<p>Protocolo de Votação: O membro que convidou a nova pessoa deve iniciar uma lista para votação no grupo, indicando nome do char, level, vocação e os motivos pelos quais pretende entrar na guild. A lista permanecerá no grupo por no mínimo 24 horas e TODOS que quiserem podem se manifestar à favor ou contra o ingresso do novo membro. </p>

<p>IMPORTANTE: O voto é individual e deve ser dado a partir da experiência individual com o player em questão. Em caso de voto negativo, o membro da guild deverá explicar as razões pelas quais é contra, para que juntos possamos discutir a respeito. Caso não conheça o player para emitir opinião a respeito ou não seja capaz de opinar, é possível votar A (abstenção). A quantidade de votos favoráveis ou contra não importa. Nós não contaremos votos.</p>

<ul>
    <li>Quando houverem apenas votos SIM e A (abstenção): O apply será aceito em 24h.</li>
    <li>Quando houver 1 ou mais votos NÃO: Aqueles que votaram “não” serão consultados se há possibilidade de resolver o conflito com o player e dar uma nova chance ao convívio. Se o voto “não” persistir, o apply será recusado.</li>
</ul>
<br>
<p>O foco é a manutenção do bem-estar do convívio na guild. Cada caso será discutido e decidido com o coletivo da Guild.</p>

<h4>Esta guild se constrói no coletivo. Se tiver alguma sugestão, fique a vontade para compatilhar.</h4>