  

<footer >

    <div class="footerimage">

        <img src="/src/images/tibiateam.png" alt="Tibia MMORPG Team">


    </div>

    <h1>Desenvolvido por Guild Brisa de Kalibra<h1>
    <h2>Desenvolcedores</h2>
    <p>Rodolfo Paolucci | <a href="https://www.twitch.tv/rodsrufo/" target="_blank">twitch.tv</a></p>
    <p>Yure'S | <a href="https://github.com/jon-by" target="_blank">GitHub</a></p>
    
    <br><br>

    <p>Gostou do Projeto? Divulgue-o para seus amigos.</p>
    <p>Quer apoiar o projeto? Envie sua doação de tibia coins para ${donationplayer}</p>



</footer>

<script src="/assets/js/main.js"></script>
</body>
</html>