<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tibia Team Calculator</title>
        <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body class="ui-widget">
        <header class="ui-widget-header">
            <h1>Tibia Team Calculator</h1>
            <a href="/">Home</a>
            <a href="/brisa">Guild Brisa</a>
        </header>
        <section id="container">

