<section id="container"></section>

<div class="howtouse">

    <figure>
        <figcaption>Como utilizar o tibia team calculator</figcaption>
    
        <img src="/src/images/partyanalyserimg.png" alt="Como utilizar o tibia team calculator.">
    </figure>

</div>


<div class="wheretoinsert">Cole o resultado aqui</div>
    
<div class="datainput">

<form id="toresult" action="/result" method="POST">
    <textarea name="partyanalyser" id="partyanalyser" ></textarea>

    <input id="btn-calculator" type="submit" value="Calcular">


    </div>

</form>

</section>